
@model Sale_Dance.Models.ViewModel.SaleItemPartialViewModel

<div class="card p-3 m-2 "style="align-self: center;" >
    <i class="fas fa-minus-circle text-danger saleItemDiv" data-id="@Model.Id" style="cursor: pointer; position: absolute; top: -8px; right: 4px;"></i>
    <p class="m-0" style="color: gray">@Model.Name</p>
</div>