@using Sale_Dance.Utility
@model Sale_Dance.Models.ViewModel.SaleViewModel

@{ 
    ViewData["Title"] = "Edit";
}
<br />

<h2 class="text-info">ערוך מבצע</h2>


    <div class="p-4 border rounded ">

        <div class="row no-gutters">
            <div class="col-8">
                <form method="post" enctype="multipart/form-data" asp-action="Edit">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group row">

                    <div class="col-3">

                        <label> שם</label>

                    </div>
                    <div class="col-8">
                        <input asp-for="Name" class="form-control"/>
                    </div>
                    <span asp-validation-for="Name" class="text-danger"></span>

                </div>

                <div class="form-group row">

                    <div class="col-3">

                        <label> תיאור</label>

                    </div>
                    <div class="col-8">
                        <input asp-for="Description" class="form-control"/>
                    </div>
                    <span asp-validation-for="Description" class="text-danger"></span>

                </div>

                <div class="form-group row">

                    <div class="col-3">

                        <label> תמונה</label>

                    </div>
                    <div class="col-8">
                        <input type="file" name="files" class="form-control text-left"/>
                    </div>

                </div>

                <div class="form-group row">

                    <div class="col-3">

                        <label> מחיר לפני</label>

                    </div>
                    <div class="col-4">
                        <input type="number" asp-for="BeforePrice" class="form-control"/>
                    </div>
                    <span asp-validation-for="BeforePrice" class="text-danger"></span>

                </div>

                <div class="form-group row">

                    <div class="col-3">

                        <label> מחיר מבצע</label>

                    </div>
                    <div class="col-4">
                        <input asp-for="SalePrice" class="form-control"/>
                    </div>
                    <span asp-validation-for="SalePrice" class="text-danger"></span>

                </div>
                    
                    <div class="form-group">

                        <input type="submit" class="btn btn-success" value="שמור שינויים" />
                        <a asp-action="Index" class="btn btn-primary">חזרה למבצעים</a>

                    </div>
                </form>

            </div>

            <div class="col-4">
                @if (Model.Image != null)
                {
                    <img src="@Model.Image.ImageToBase()" width="100%" style="border-radius:5px; border:1px solid #bbb9b9;"/>
                    <form method="post" asp-action="RemoveImage" asp-controller="Sale" asp-route-id="@Model.SaleId">
                        <button type="submit" class="btn btn-danger">הסר תמונה</button>
                    </form>
                }
                else
                {
                    <p>No Image Preview</p>
                }
            </div>

        </div>


    </div>

@section Scripts{

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}