@model IEnumerable<Sale_Dance.Models.Post>

@{
    ViewData["Title"] = "בית";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<div dir="rtl" class="text-right">


    @if (TempData["PublishAlert"] != null)
    {
        <div class="alert alert-danger"> @TempData["PublishAlert"]</div>
    }

    @if (TempData["PublishSuccess"] != null)
    {
        <div class="alert alert-success"> @TempData["PublishSuccess"]</div>
    }


    @if (TempData["UnpublishAlert"] != null)
    {
        <div class="alert alert-success"> @TempData["UnpublishAlert"]</div>
    }

    <div class="row">

        <div class="col-6">

            <h2 class="text-info ">  פוסטים</h2>
        </div>

        <div class="col-6 text-left">

            <a asp-action="Create" class="btn btn-info "> <i class="fas fa-plus"></i>&nbsp; פוסט חדש</a>
        </div>

    </div>

    <br />

    <table class="table table-striped border">

        <tr class="table-info ">

            <th>
                שם
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td class="align-middle">
                    @Html.DisplayFor(m => item.Name)
                </td>

                <td>

                    <partial name="_PostsTableButtonPartial" model="item" />
                </td>

            </tr>
        }
    </table>

</div>
